{% extends 'base.html' %}
{% block content %}

    <!-- Start Login Section-->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <!-- Start Login Form-->
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form }}

                <!-- Login Button-->
                <button type="submit">Log in</button>
            </form>
            <!-- End Login Form -->

        </div>
        <div class="second-option">
            <p>Don't have account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
{% endblock %}