{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <!-- Start Register Section -->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <!-- Start Register Form -->
            <form  method="post" action="">
                {% csrf_token %}
                {{ form.username.errors }}
                {{ form.username|placeholder:'Username' }}
                 {{ form.email.errors }}
                {{ form.email|placeholder:'Email' }}
                 {{ form.password1.errors }}
                {{ form.password1|placeholder:'Password' }}
                 {{ form.password2.errors }}
                {{ form.password2|placeholder:'Repeat password' }}
                <button type="submit">Register</button>
            </form>
            <!-- End Register Form -->

        </div>
        <div class="second-option">

            <!-- Link to Login Page -->
            <p>Have an account? <a href="#">Log in</a></p>
        </div>
    </div>
    <!-- End Register Section -->

{% endblock %}